.border-6 {
  border-width:6px !important;
}


.middle-panel {
  margin: 5% 30% 5% 30%;
}
.profile-panel {
  margin: 5% 20% 5% 20%;
}
.profile-info-panel {
  margin: 0% 10% 0% 10%;
  padding: 1% 1% 1% 1%;
}

.circle-cropper {
  object-fit: cover;
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;

  border: 10px solid white;
}
.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav-btn {
  margin: 0px 5px 0px 0px;
}

.post-entry{
  padding: 1% 1% 1% 1%;
  margin: 3% 20% 1% 20%;
}
.post-img{
  width: 70%;
}

.page-img{
  width: 80%;
}
.page-content{
  padding: 5% 5% 5% 5%;
}

#mapid {
  height:400px;
  margin: 5% 20% 5% 20%;
}



@media (max-width : 800px) {
  .middle-panel {
    margin: 5% 1% 5% 1%;
  }

  .profile-panel {
    margin: 5% 1% 5% 1%;
  }

  .profile-info-panel {
    margin: 0% 1% 0% 1%;
  }

  .post-entry{
    padding: 1% 1% 1% 1%;
    margin: 10% 1% 1% 1%;
  }

  #mapid {
    height:400px;
    margin: 5% 1% 5% 1%;
  }
}