{{ define "content" }}

    <div class="page-heading">
        <h1 align="center">About</h1>
    </div>

    <div class="card page-panel">
        <h3>Got food? Don't want it? Post it on Foodlebug</h3>
        <hr>

        <h3>Our Mission</h3>
        <p>
            Too many leftovers from catering or maybe just want to get rid of that old
            box of granola bars? Don't throw it away!
            Foodlebug provides an easy-to-use platform for sharing leftover food with the
            added benefit of being able to locate leftovers in your local area in hopes
            of reducing food waste locally.
        </p>
        
        <h3>How Do I Use Foodlebug?</h3>
        <p>
            Locating food is as simple as finding postings in your local area using our homepage map. You
            can also see a list of the most recent postings below.
            To share leftovers, create an account and post a picture and description of your food.
            Location can optionally be shared to make it easier for others to find your leftovers.
        </p>

        <h3>Disclaimer</h3>
        <p>
            Accepting goods over the internet comes with risks. Foodlebug takes no responsibility for misinformation
            on the site and mishaps that result from using the site. Foodlebug does not guarantee the validity of
            the posts on the site and reminds its users to exercise caution and common sense. Be safe out there.
        </p>
        
    </div>
{{ end }}