{{ define "content" }}
  <div class="jumbotron middle-panel">

    <h2>Create Account</h2>
    <br>

    {{ range $i, $val := . }}
      {{ if $val}}
        <div class="alert alert-danger" role="alert">
          {{ $val }}
        </div>
      {{ end }}
    {{ end }}

    <form method="POST">
      <div class="form-group">
        <input class="form-control" name="username" type="text" value="" placeholder="Username" autofocus><br>
        <input class="form-control" name="email" type="email" value="" placeholder="Email"><br>
        <input class="form-control" name="password" type="password" value="" placeholder="Password"><br>
        <input class="form-control" name="confirm-password" type="password" value="" placeholder="Confirm Password"><br>
        <br>
        <input class="btn btn-primary" type="submit" value="Create">
      </div>
    </form>
  </div>
{{ end }}
