{{ define "content" }}
  <div class="jumbotron middle-panel">
    <h2>Login</h2>
    <br>
    {{ range $i, $val := . }}
      {{ if $val}}
        <div class="alert alert-danger" role="alert">
          {{ $val }}
        </div>
      {{ end }}
    {{ end }}

    <form method="POST">
      <div class="form-group">
        <input class="form-control" name="username" type="text" value="" placeholder="Username" autofocus><br>
        <input class="form-control" name="password" type="password" value="" placeholder="Password"><br>
        <br>
        <input class="btn btn-primary" type="submit" value="Login">
      </div>
    </form>

    <a href="./createAccount">Create an account</a>

  </div>
{{ end }}
